<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Peliculoides</title>
	<link rel="stylesheet" href="/styles/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="container"> 
			<a href="/">Peliculoides</a>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/movie-list">Lista de Películas</a></li>
				</ul>
			</nav>
		</div>
	</header>
	{{{body}}}
</body>
<footer>
	<div class="container">
		<a href="#">Github</a>
	</div>
</footer>
</html>